.Header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: whitesmoke;
  align-items: center;
}

.subHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

button{
    background-color: yellowgreen;
    padding: 15px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}